.card-flex {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.card {
  display: flex;
  flex-direction: column;
}
.card-img {
  height: 300px;
  width: 280px;
  border-radius: 1rem;
}
.card-title {
  display: flex;
  justify-content: space-evenly;
  font-weight: 800;
}
.card-title-desc {
}
.card-date {
  margin-left: 44px;
  opacity: 50%;
}
.card-rating {
  display: flex;
}
.card-price {
  padding-top: 0.4rem;
  font-size: medium;
  font-weight: 800;
  display: flex;
  margin-left: 44px;
}

/* swip css */
.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 350px;
}
@media only screen and (max-width: 866px) {
  .carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

.slide {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 90%;
  height: 80%;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  filter: drop-shadow(0px 0px 5px #555);
  width: 2rem;
  height: 2rem;
  color: white;
  opacity: 20%;
}
:hover.arrow {
  position: absolute;
  filter: drop-shadow(0px 0px 5px #555);
  width: 2rem;
  height: 2rem;
  color: white;
  opacity: 60%;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 2rem;
}

.arrow-right {
  right: 2rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 3rem;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive {
  background-color: grey;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Add your custom styles for Swiper navigation here */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-button-prev{
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white !important;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  opacity: 0;
}
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white !important;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  opacity: 0;
}

.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.swiper-button-disabled {
  opacity: 1;
  cursor: not-allowed;
}
